<app-search></app-search>

<div class="card container">
  <div class="card-body ">
    <h2 class="card-title text-primary">Aufträge</h2>
    <app-not-found
    [visible]="!orders || !orders.length"
    resetLinkRoute="/"
    notFoundMessage="Leider wurden keine Aufträge gefunden"
    resetLinkText="Zurück zur Startseite"
    ></app-not-found>
    <ul class="list-group">
      <a *ngFor="let wa of orders" href="/order/{{wa.id}}" class="list-group-item list-group-item-action flex-column align-items-start ">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{wa.headerText}}</h5>
          <small>3 days ago</small>
        </div>
        <p class="mb-1">{{wa.description}}</p>
      </a>
    </ul>
  </div>
</div>