.mat-mdc-form-field {
    margin-top: 20px;
  }
.accordion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 70%;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 50px;
}
.notfullwith-item{
  width: 100%;
  margin: 0 10px;
}
.example-margin {
  margin: 0 12;
}
.example-section {
  margin: 24px 0;
}
.checkboxlabel {
  margin-left: 0;
  margin-right: auto;
  padding-left: 4px;
  padding-right: 0;
  order: 0;
  padding-top: 6px;
}
mat-slider {
  width: 300px;
}